extends layout

block content
  #heartbeat(style="float:right")
  #user User: #{user}
  h1= title

  include menu

  form(method='GET' class='form-inline' id='form_archive')

    table(class='table table-striped')
      thead(class='thead-dark')
        tr
          th(class='sortable' id='archive') piece\archive
          th(class='sortable' id='workflow') workflow
          th(class='sortable' id='complete') complete
          th(class='sortable' id='running') running
          th(class='sortable' id='waiting') waiting
          th(class='sortable' id='failed') failed
          th(class='sortable' id='total') total
          th
        tr(class='checkboxes')
          td
            input(type='text' name='archive' id='filter_archive' class='filter')
          td
            select(class='custom-select filter' id='form_workflow_name' name='form_workflow_name')
              each item in form_workflow_list
                option #{item}
          td
            input(type='checkbox' name='complete' id='status_complete' value='2' checked class='filter')
          td
            input(type='checkbox' name='running' id='status_running' value='1' checked class='filter')
          td
            input(type='checkbox' name='waiting' id='status_waiting' value='0' checked class='filter')
          td
            input(type='checkbox' name='failed' id='status_failed' value='-1' checked class='filter')
          td
          td

      tbody(id='tbody')
          include archive_inc
