extends layout

block content
  #heartbeat(style="float:right")
  #user User: #{user}
  h1= title

  p
    a(href='https://confluence.socialhistoryservices.org/display/AM/Workflow+controller' target='_blank') Confluence documentation

  form(method='GET' class='form-inline' id='form_archive')

    div(class='input-group')
      label(for='form_archive_name' class='form-check-label') Workflow types
      select(class='custom-select' id='form_archive_name' name='form_archive_name' onchange='this.form.submit()')
        each name in workflow_name
          if name === form_archive_name
            option(selected='true') #{name}
          else
            option #{name}

  table(class='table table-striped')
    thead(class='thead-dark')
      tr
        th(class='sortable' id='piece') piece\archive
        th(class='sortable' id='complete') complete
        th(class='sortable' id='running') running
        th(class='sortable' id='waiting') waiting
        th(class='sortable' id='failed') failed
        th(class='sortable' id='total') total
        th(id='delete') delete report
      tbody(id='archive')
        include archive_inc
