doctype html
html
  head
    title= title
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet' href=theme)
    script(type='text/javascript' src='js/jquery-3.4.1.min.js')
    script(type='text/javascript' src='js/bootstrap.bundle.min.js')
    script(type='text/javascript' src='js/'+title+'.js')
    script(type='text/javascript' src='js/util.js')
  body
    block content
