//- https://pugjs.org/
doctype html
html
  head
    title= title
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='font-awesome/css/font-awesome.css')
    link(rel='stylesheet' href=theme)
    script(type='text/javascript' src='js/jquery-3.4.1.min.js')
    script(type='text/javascript' src='js/bootstrap.bundle.min.js')
    script(type='text/javascript' src='js/'+title+'.js')
    script(type='text/javascript' src='js/util.js')
  body
    block content
include version
