each task in workflow.tasks || []
    tr
        td(scope='col' class='small')= task.queue + ':'
            br
            =task.description
            br
            br
            a(href='workflow/retry/' + task.identifier + '?form_workflow_name=' + form_workflow_name class='btn btn-info small' role='button') Retry
            a(href='workflow/skip/' + task.identifier + '?form_workflow_name=' + form_workflow_name class='btn btn-info small' role='button') Skip
        td(scope='col' class='small ' + {
            100: '',
            150: 'bg-warning',
            200: '',
            250: 'bg-warning',
            300: '',
            400: 'bg-danger',
            450: 'bg-danger',
            499: 'bg-danger',
            500: 'bg-success',
            600: 'bg-success'
        }[task.status]) #{task.status}
        td
        td(scope='col' class='small')
            pre= task.info